body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
    background: azure;
}

button {
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(97, 158, 255);
    transition: .5s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

@media screen and (max-width:500px) {
    .nav {
        padding: 0px;
        width: 100%;
        height: auto;
    }
    .nav li {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        margin-bottom: 5px;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .items-nav {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        width: 80px;
    }
    .items-menu {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        margin-bottom: 5px;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        justify-content: space-between;
        align-items: center;
    }
    .item {
        width: 90%;
        margin-bottom: 30px;
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        margin-bottom: 5px;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .header {
        padding: 0;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        margin-bottom: 5px;
        box-sizing: border-box;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media screen and (max-width: 505px) {
    .item {
        width: 70%;
    }
    nav {
        height: 120px;
    }
}

@media screen and (min-width:700px) {
    .item {
        width: 70%;
    }
    nav {
        height: 75px;
        justify-content: flex-start;
    }
}

@media screen and (min-width:980px) {
    .item {
        width: 30%;
    }
}

@media screen and (min-width:1040px) {
    .class-marca {
        margin-bottom: 10px;
    }
    .class-header {
        display: inline;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:1200px) {
    .item {
        width: 22%;
    }
    .class-header {
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 60px;
        padding-right: 60px;
    }
    main {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}